[submodule "3rdparty/cpp_redis"]
	path = 3rdparty/cpp_redis
	url = https://github.com/cpp-redis/cpp_redis.git
[submodule "3rdparty/redis-cpp"]
	path = 3rdparty/redis-cpp
	url = https://github.com/JuKu/redis-cpp.git
[submodule "3rdparty/config"]
	path = 3rdparty/config
	url = https://github.com/taocpp/config.git
[submodule "3rdparty/inih"]
	path = 3rdparty/inih
	url = https://github.com/benhoyt/inih.git
[submodule "3rdparty/json"]
	path = 3rdparty/json
	url = https://github.com/nlohmann/json.git
[submodule "3rdparty/evpp"]
	path = 3rdparty/evpp
	url = https://github.com/Qihoo360/evpp.git
[submodule "3rdparty/glog"]
	path = 3rdparty/glog
	url = https://github.com/google/glog.git
